<div id="game_name">Name: LOADING...</div>
<div id="critic-scores"> 
    <div id="ign_content">IGN: LOADING... </div> 
    <div id="gamespot_content">Gamespot: LOADING...</div>
    <div id="metacritic_content">Metacritic: LOADING...</div>
    <div id="gamesradar_content">Games Radar: LOADING...</div>
</div>
<div id="site-scores">
    <div id="hardcore">Hardcore:</div>
    <div id="hobbyist">Hobbyist:</div>
    <div id="kids">Kids:</div>
</div>
<div id="game-comments">
    <p>Here is what users have said about this game:</p>
    <div id="comments"></div>
</div>